body {
  background-image: url(./components/img/background.png);
  background-size: inherit;
}

.timer {
  text-align: center;
}

p {
  font-size: 4rem;
  margin: 25px auto;
  color: #faf600;
}

button {
  background-color: rgba(201, 28, 28, 0.3);
  color: white;
  outline: none;
  border-radius: 50%;
  width: 200px;
  padding: 30px;
  font-size: 2rem;
}

.line {
  background-color: rgba(206, 20, 20, 0.8);
  height: 100px;
}
